<!DOCTYPE html>
<html lang="en">

<head>
	{% include "metatags.njk" %}
	<link rel="stylesheet" href="{{ content.config.publicPath }}/css/dark.css" />
</head>

<body id="body-app">
	<header class="line has-background-primary"></header>

	<section class="profile section has-background-black">
		<div class="container">
			<div class="columns">
				<div class="column is-two-fifths">
					<h1 class="title is-size-5">{{ config.profile.name }}</h1>
					<p class="subtitle is-size-7">{{ config.profile.title }}</p>
				</div>
				<div class="column is-2">
					<figure class="image image is-96x96">
						<img alt="Profile photo" class="is-rounded" src="{{ config.profile.photo }}" />
					</figure>
				</div>
				<div class="column has-text-grey-light has-text-right-in-desktop">
					<div>
						<p class="has-text-weight-light social-icon">{{ config.profile.city }}</p>
						<p class="has-text-weight-light social-icon">{{ config.profile.phone }}</p>
						<p class="has-text-weight-light social-icon">{{ config.profile.mail }}</p>
					</div>
					{% include "social-icons.njk" %}
				</div>
			</div>
		</div>
	</section>

	<div class="line has-background-primary"></div>

	<section class="section has-background-grey-darker">
		<div class="container">
			<div class="columns">
				<div class="column">
					<section class="summary pb-5">
						<div class="title is-size-7 has-text-primary has-text-weight-bold">ABOUT ME</div>
            {%- for about in collections.about -%}
              <div class="content is-size-7">{{ about.templateContent | safe }}</div>
            {%- endfor -%}
					</section>
				</div>
			</div>
		</div>
	</section>

	<div class="line has-background-primary"></div>

	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-two-thirds">
					<section class="experience">
						<h2 class="title is-size-7 has-text-primary has-text-weight-bold">EXPERIENCE</h2>

            {%- for experience in collections.experience | reverse -%}
            <article class="item pb-6">
              <h3 class="is-size-5">
                <strong>{{ experience.data.company }}</strong>
								{% if experience.data.location %}
                <span class="is-size-5 has-text-weight-semi-bold">
                  ({{ experience.data.location }}) — <i>{{ experience.data.title }}</i>
                </span>
								{% endif %}
              </h3>
              <div class="is-size-8 tag is-primary">{{ experience.data.period }}</div>
              <div class="content is-size-7">
              {{ experience.templateContent | safe }}
              </div>
						</article>
            {%- endfor -%}
          </section>

					{% if config.options.education %}
					<section class="education">
						<h2 class="title is-size-7 has-text-primary has-text-weight-bold">EDUCATION</h2>

						{% for education in config.educations %}
						<div class="item">
							<div class="is-size-7">
								<strong>{{ education.degree }}</strong>
								{% if education.name %} - <i>{{ education.name }} <span class="has-text-weight-semi-bold">({{ education.city }})</span></i>{% endif %}
							</div>
							<div class="is-size-8 tag is-primary">{{ education.period }}</div>
							<div>{{ education.faculty }}</div>
						</div>
						{% endfor %}
					</section>
					{% endif %}
				</div>

				<div class="column">
					{%- for note in collections.sidenote -%}
					<section class="projects pb-6">
						<h2 class="title is-size-7 has-text-primary has-text-weight-bold">{{ note.data.title | upper }}</h2>
						<div class="item">
							<div class="is-size-6 is-italic	">
								<div class="content is-size-7">
								{{ note.templateContent | safe }}
								</div>
							</div>
						</div>
					</section>
					{% endfor %}

					{% for key, items in config.skills %}
					<section class="skills pb-6">
						<h2 class="title is-size-7 has-text-primary has-text-weight-bold">{{ key | upper }}</h2>
						<div class="wrapper">
							<table class="table is-fullwidth">
								{% for skill in items | sort(true, true, 'progress') %}
							<tr>
								<td class="is-one-third is-size-7">{{ skill.name }}</td>
								<td class=""><progress class="progress is-primary" value="{{ skill.progress }}" max="100">45%</progress></td>
							</tr>
							{% endfor %}
							</table>
						</div>
					</section>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<footer class="section has-background-primary">
		<div class="container">
			<p class="has-text-black is-size-7">generated by <a class="has-text-black is-underlined" href="https://github.com/kimus/resume">https://github.com/kimus/resume</a></p>
		</div>
	</footer>
</body>

</html>
