<!DOCTYPE html>
<html lang="en">

<head>
	{% include "metatags.njk" %}
	<link rel="stylesheet" href="{{ content.config.publicPath }}/css/dark.css" />
</head>

<body id="body-app">
	<header class="line has-background-primary"></header>

	<section class="profile section has-background-black">
		<div class="container">
			<div class="columns">
				<div class="column is-two-fifths">
					<h1 class="title is-size-2">{{ config.profile.name }}</h1>
					<p class="subtitle">{{ config.profile.title }}</p>
				</div>
				<div class="column is-2">
					<figure class="image image is-128x128">
						<img alt="Profile photo" class="is-rounded" src="{{ config.profile.photo }}" />
					</figure>
				</div>
				<div class="column has-text-grey-light has-text-right-in-desktop">
					<p class="has-text-weight-light">{{ config.profile.city }}</p>
					<p class="has-text-weight-light">{{ config.profile.phone }}</p>
					<p class="has-text-weight-light">{{ config.profile.mail }}</p>
					{% include "social-icons.njk" %}
				</div>
			</div>
		</div>
	</section>

	<div class="line has-background-primary"></div>

	<section class="section has-background-grey-darker">
		<div class="container">
			<div class="columns">
				<div class="column">
					<section class="summary pb-5">
						<div class="title is-size-5 has-text-primary has-text-weight-bold">ABOUT ME</div>
            {%- for about in collections.about -%}
              <div class="content">{{ about.templateContent | safe }}</div>
            {%- endfor -%}
					</section>
				</div>
			</div>
		</div>
	</section>

	<div class="line has-background-primary"></div>

	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-two-thirds">
					<section class="experience">
						<h2 class="title is-size-5 has-text-primary has-text-weight-bold">EXPERIENCE</h2>

            {%- for experience in collections.experience | reverse -%}
            <article class="item pb-6">
              <h3 class="is-size-4">
                <strong>{{ experience.data.company }}</strong>
								{% if experience.data.location %}
                <span class="is-size-5 has-text-weight-semi-bold">
                  ({{ experience.data.location }}) — <i>{{ experience.data.title }}</i>
                </span>
								{% endif %}
              </h3>
              <div class="is-size-7 tag is-primary">{{ experience.data.period }}</div>
              <div class="content">
              {{ experience.templateContent | safe }}
              </div>
						</article>
            {%- endfor -%}
          </section>

					<section class="education">
						<h2 class="title is-size-5 has-text-primary has-text-weight-bold">EDUCATION</h2>

						{% for education in config.educations %}
						<div class="item">
							<div class="is-size-5">
								<strong>{{ education.name }}</strong>,
								<span class="has-text-weight-semi-bold">
									{{ education.city }} — <i>{{ education.degree }}</i>
								</span>
							</div>
							<div class="is-size-7 tag is-primary">{{ education.period }}</div>
							<div>{{ education.faculty }}</div>
						</div>
						{% endfor %}
					</section>
				</div>

				<div class="column">
					<section class="projects pb-6">
						<h2 class="title is-size-5 has-text-primary has-text-weight-bold">PROJECTS</h2>

						{% for proj in config.projects %}
						<div class="item">
							<div class="is-size-5">
								<strong>{{ proj.title }}</strong>
								—
								<i>{{ proj.company }}</i>
							</div>
							<div class="is-size-7 tag is-primary">{{ proj.period }}</div>
						</div>
						{% endfor %}
					</section>

					<section class="skills pb-6">
						<h2 class="title is-size-5 has-text-primary has-text-weight-bold">SKILLS</h2>
						<div class="wrapper">
							<table class="table is-fullwidth">
							{% for skill in config.skills %}
							<tr>
								<td>{{ skill.name }}</td>
								<td><progress class="progress is-primary" value="{{ skill.progress }}" max="100">45%</progress></td>
							</tr>
							{% endfor %}
							</table>
						</div>
					</section>

					<section class="languages pb-6">
						<h2 class="title is-size-5 has-text-primary has-text-weight-bold">LANGUAGES</h2>
						<div class="wrapper">
							{% for l in config.languages %}
							{{ l.language }}: {{ l.level }}<br>
							{% endfor %}
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<footer class="line has-background-primary"></footer>
</body>

</html>
